USE [master]
GO
/****** Object:  Database [orc]    Script Date: 7/6/2025 2:41:06 PM ******/
CREATE DATABASE [orc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'orc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\orc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'orc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\orc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [orc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [orc]
GO
/****** Object:  Table [dbo].[National]    Script Date: 7/6/2025 2:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[National](
	[Id] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[National_Number] [nchar](14) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Government] [nvarchar](100) NULL,
 CONSTRAINT [PK_National] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
