@using orc.core.Models;
@model NationalIdData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    // Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>البيانات المستخرجة</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


    <style>
        body {
            font-family: 'Segoe UI', 'Arial', sans-serif;
            direction: rtl;
            text-align: right;
            margin: 30px;
        }

        .field {
            margin-bottom: 15px;
        }

        .label {
            font-weight: bold;
            color: #444;
        }

        .value {
            background-color: #f3f3f3;
            padding: 10px;
            border-radius: 8px;
            display: inline-block;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h2>البيانات المستخرجة من البطاقة</h2>
    <form asp-action="resultSave" asp-controller="Orc" method="post" enctype="multipart/form-data">

    <div class="field">
        <div class="label">👤 الاسم:</div>
            <input type="text" name="Name" asp-for="Name" class="form-control" required>
        @* <div class="value">@Model.Name</div> *@
    </div>

    <div class="field">
        <div class="label">🏠 العنوان:</div>
            <input type="text" class="form-control" name="Address" asp-for="Address" required />
    </div>

    <div class="field">
        <div class="label">🏛 المحافظة:</div>
            <input type="text" class="form-control" name="Governorate" asp-for="Governorate" required />
    </div>

    <div class="field">
        <div class="label"> رقم قومي:</div>
            <input type="number" max="39999999999999" class="form-control" name="Id_NationalNumber" asp-for="Id_NationalNumber" required />
            <div class="value" style="color:red;">@Model.message</div>
    </div>

    <div class="field">
        <input type="submit" class="btn btn-primary" value="submit" />
    </div>
    </form>
</body>
</html>
